In [1]:
import numpy as np
import pandas as pd

In [2]:
col = pd.read_csv("../collision.csv",dtype={'case_id': str})

C:\Users\Harold\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
party = pd.read_csv("../party.csv",dtype={'case_id': str})

C:\Users\Harold\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
collision_in_weather = pd.read_csv("../collision_in_weather.csv",dtype={'case_id': str})

In [5]:
from sqlalchemy import *

In [6]:
DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = 'C##DB2021_G24' #enter your username
PASSWORD = 'DB2021_G24' #enter your password
HOST = 'cs322-db.epfl.ch' #enter the oracle db host url
PORT = 1521 # enter the oracle port number
SERVICE = 'ORCLCDB' # enter the oracle db service name
ENGINE_PATH_WIN_AUTH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + ':' + str(PORT) + '/?service_name=' + SERVICE

engine = create_engine(ENGINE_PATH_WIN_AUTH, max_identifier_length=128)

In [7]:
import cx_Oracle
cx_Oracle.init_oracle_client(lib_dir=r"C:\Program Files\Oracle\instantclient_19_10")

In [8]:
test_df = pd.read_sql_query('SELECT * FROM vehicle', engine)

In [9]:
conn = engine.raw_connection()

In [10]:
cursor = conn.cursor()

In [11]:
cursor.execute("create table collision_in_weather(case_id CHAR(25) constraint COLLISION_IN_WEATHER_COLLISION_CASE_ID_FK references COLLISION on delete cascade, weather CHAR CHECK ( weather IN ('A','B','C','D','E','F','G') ))")

DatabaseError: ORA-00955: name is already used by an existing object

In [ ]:
cursor.execute("INSERT INTO Price_History({cols}) VALUES({vals});".format(cols = str(data.keys()).strip('[]'), 
                    vals=str([data[i] for i in data]).strip('[]')
                    ))

In [15]:
cursor.execute(f"Insert into collision_in_weather({str(collision_in_weather.keys()).strip('[]')}) VALUES({str(collision_in_weather.head(1).values).strip('[]')}")

DatabaseError: ORA-00928: missing SELECT keyword

In [12]:
pd.read_sql_query('SELECT * FROM collision_in_weather', engine)

Empty DataFrame
Columns: [case_id, weather]
Index: []

In [16]:
collision_in_weather.iloc[1455442:1455443]

         case_id weather
1455442  1581074       A

In [ ]:
#collision_in_weather.to_sql(con=engine, index=False, name='collision_in_weather', if_exists='append')