In [1]:
import pandas as pd
import numpy as np

In [2]:
parties = pd.read_csv("../parties_clean.csv",dtype={'case_id': str})

C:\Users\Harold\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4,13,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
victims = pd.read_csv("../victims_clean.csv",dtype={'case_id': str})

C:\Users\Harold\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
vehicle = pd.read_csv("../vehicle.csv")

In [5]:
parties.tail().to_csv(r'test.csv',index = False)

## Put vehicle in baby

In [6]:
print(vehicle.head(1))

  statewide_vehicle_type vehicle_make  vehicle_year  vehicle_id
0                      A         FORD        2000.0           0

In [7]:
parties = parties.merge(vehicle, how='left', on=['statewide_vehicle_type', 'vehicle_make' , 'vehicle_year'])

In [8]:
parties.drop(['statewide_vehicle_type', 'vehicle_make' , 'vehicle_year'], axis = 1,inplace=True)

## Drop safety_equipment

In [9]:
parties.drop(['party_safety_equipment_1', 'party_safety_equipment_2' , 'other_associated_factor_1', 'other_associated_factor_2'], axis = 1,inplace=True)

In [10]:
victims.drop(['victim_safety_equipment_1', 'victim_safety_equipment_2'], axis = 1,inplace=True)

In [11]:
#parties.to_csv(r'../party.csv', index = False)
#victims.to_csv(r'../victim.csv', index = False)

KeyboardInterrupt:

# TRYING TO PUT A PARTY_ID IN VICTIM

In [12]:
party = parties

In [13]:
victim = victims

In [14]:
victim.rename(columns = {'id':'victim_id'}, inplace = True)
party.rename(columns = {'id':'party_id'}, inplace = True)

In [15]:
victim = victim.merge(parties, how='inner', on= ['case_id','party_number'])

In [19]:
victim

,case_id,victim_id,party_number,victim_age,victim_degree_of_injury,victim_ejected,victim_role,victim_seating_position,victim_sex,at_fault,...,hazardous_materials,party_id,movement_preceding_collision,party_age,party_drug_physical,party_sex,party_sobriety,party_type,school_bus_related,vehicle_id
0,0000003,3,1,21.0,0.0,0.0,2,3.0,M,0,...,NaN,11,B,20.0,NaN,F,A,1.0,NaN,3
1,0000005,4,1,44.0,2.0,0.0,1,1.0,M,1,...,NaN,15,B,44.0,NaN,M,A,1.0,NaN,7
2,0000008,5,1,59.0,0.0,0.0,2,3.0,F,1,...,NaN,20,B,67.0,NaN,M,A,1.0,NaN,12
3,0000008,6,2,31.0,0.0,0.0,2,3.0,M,0,...,NaN,21,H,31.0,NaN,F,A,1.0,NaN,13
4,0000009,7,2,14.0,4.0,0.0,2,6.0,F,0,...,NaN,23,B,40.0,NaN,F,A,1.0,NaN,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4082680,9870011226102009803,8817531,2,20.0,3.0,0.0,1,1.0,F,0,...,NaN,16432240,B,20.0,NaN,F,A,1.0,NaN,16
4082681,9870011231152508671,8817532,1,27.0,4.0,0.0,2,3.0,F,1,...,NaN,16432242,I,19.0,NaN,F,A,1.0,NaN,640
4082682,9870011231152508671,8817533,2,74.0,4.0,0.0,2,3.0,F,0,...,NaN,16432243,E,64.0,NaN,M,A,1.0,NaN,780
4082683,9870011231152508671,8817534,2,64.0,4.0,0.0,1,1.0,M,0,...,NaN,16432243,E,64.0,NaN,M,A,1.0,NaN,780
4082684,9870011231152508671,8817535,2,45.0,0.0,0.0,6,6.0,F,0,...,NaN,16432243,E,64.0,NaN,M,A,1.0,NaN,780

In [23]:
victim.dtypes

victim_id                    int64
victim_age                 float64
victim_degree_of_injury    float64
victim_ejected             float64
victim_role                  int64
victim_seating_position    float64
victim_sex                  object
party_id                     int64
dtype: object

In [22]:
victim.drop(['case_id','party_number','at_fault','cellphone_use','financial_responsibility','hazardous_materials',
            'movement_preceding_collision','party_age','party_drug_physical','party_sex','party_sobriety','party_type',
            'school_bus_related','vehicle_id'], axis = 1,inplace=True)