In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [2]:

col =  pd.read_csv("../collisions_clean.csv")

C:\Users\Harold\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Utility functions

In [ ]:
def check_set(name,alphanumeric)

## Collision_severity

In [3]:
def collision_severity_translate(s):
    dic = {'fatal':1, 'severe injury':2, 'other injury':3,
           'pain':4, 'property damage only':5
    }
    if s in dic:
        return dic[s]
    else:
        return numpy.nan

In [41]:
df = col.copy()

In [5]:
col_copy['collision_severity'] = col_copy['collision_severity'].apply(lambda s : collision_severity_translate(s))

NameError: name 'col_copy' is not defined

In [34]:
df['case_id'] = df['case_id']

In [24]:
print(df.dtypes)

case_id                      object
collision_date               object
collision_severity           object
collision_time               object
county_city_location          int64
hit_and_run                  object
jurisdiction                float64
lighting                     object
location_type                object
officer_id                   object
pcf_violation               float64
pcf_violation_category       object
pcf_violation_subsection     object
population                  float64
primary_collision_factor     object
process_date                 object
ramp_intersection           float64
road_condition_1             object
road_condition_2             object
road_surface                 object
tow_away                    float64
type_of_collision            object
weather_1                    object
weather_2                    object
dtype: object

In [42]:
display(df[df['case_id'].str.contains(pat='^[0]') == True].head(20))

AttributeError: Can only use .str accessor with string values!

## Collision_time

In [ ]:
df = col.copy()

In [ ]:
# NaN has the specific of NaN == NaN returns False

print(len(df[df['collision_time'] != df['collision_time']]))

Many collision_time are NaN, do we replace by some mean or keep it null or remove the rows ?

In [ ]:
# how to remove all the rows with NaN values
# df.dropna(subset=['collision_time'], inplace = True)

## county_city_location

In [ ]:
df = col.copy()

In [ ]:
#no city code are under 0
print(df[df['county_city_location'] > 0].size == df.size)

In [ ]:
print(df[df['county_city_location'] >= 10000].size)

In [ ]:
print(df[df['county_city_location'] != df['county_city_location']].size)

## hit_and_run

In [ ]:
df = col.copy()

In [ ]:
def hit_and_run_translate(s):
    dic = {'felony':'F', 'misdemeanor':'M', 'not hit and run':'N'
    }
    if s in dic:
        return dic[s]
    else:
        return np.nan

In [ ]:
df['hit_and_run'] = df['hit_and_run'].apply(lambda s : hit_and_run_translate(s))

In [ ]:
##looks like there are some bad values
print(len(df[(df['hit_and_run'] == 'F') | (df['hit_and_run'] == 'M') | (df['hit_and_run'] == 'N')]), len(df))

In [ ]:
print(df[(df['hit_and_run'] != 'F') & (df['hit_and_run'] != 'M') & (df['hit_and_run'] != 'N')].head(30))

One value has NaN, we may drop it

## jurisdiction

In [ ]:
df = col.copy()

In [ ]:
#no jurisdiction are under 0
print(len(df[df['county_city_location'] < 0]))

In [ ]:
print(len(df[df['county_city_location'] != df['county_city_location']]))

In [ ]:
print(len(df[df['county_city_location'] >= 10000]))

All okay !

## lighting

In [ ]:
df = col.copy()

In [ ]:
def lighting_translate(s):
    dic = {'daylight':'A', 'dusk or dawn':'B', 'dark with street lights':'C', 'dark with no street lights':'D',
           'dark with street lights not functioning' : 'E'}
    if s in dic:
        return dic[s]
    else:
        return np.nan

In [ ]:
df['lighting'] = df['lighting'].apply(lambda s : lighting_translate(s))

In [ ]:
# it's okay to have NaN values so all OK
print(len(df[df['lighting'] != df['lighting']]))

## officer_id

In [6]:
df = col.copy()

In [39]:
s = "Pedestrian or \"Other\" Under the Influence of Alcohol or Drug"
s.lower()

'pedestrian or "other" under the influence of alcohol or drug'

In [40]:
print(df[df['pcf_violation_category'] == 'pedestrian or "other" under the influence of alcohol or drug'])

Empty DataFrame
Columns: [case_id, collision_date, collision_severity, collision_time, county_city_location, hit_and_run, jurisdiction, lighting, location_type, officer_id, pcf_violation, pcf_violation_category, pcf_violation_subsection, population, primary_collision_factor, process_date, ramp_intersection, road_condition_1, road_condition_2, road_surface, tow_away, type_of_collision, weather_1, weather_2]
Index: []

[0 rows x 24 columns]

In [67]:
print(df[(df['road_surface'] != 'dry') & (df['road_surface'] != 'wet') &
         (df['road_surface'] != 'snowy') & (df['road_surface'] == df['road_surface'])  & (df['road_surface'] != 'slippery')]['road_surface'].head(50))

2637317    H
Name: road_surface, dtype: object

In [77]:
print(df[df['type_of_collision'] == 'vehicle/pedestrian']['type_of_collision'].head(50))

Series([], Name: type_of_collision, dtype: object)

In [80]:
print(df[df['weather_1'] != 'clear']['weather_1'].tail(50))

3677743     cloudy
3677744     cloudy
3677745     cloudy
3677767     cloudy
3677771        NaN
3677784     cloudy
3677785        fog
3677786     cloudy
3677787     cloudy
3677788    snowing
3677796     cloudy
3677802     cloudy
3677808     cloudy
3677818     cloudy
3677821     cloudy
3677822     cloudy
3677827     cloudy
3677828     cloudy
3677830     cloudy
3677836     cloudy
3677837     cloudy
3677840     cloudy
3677842     cloudy
3677843     cloudy
3677844    raining
3677846     cloudy
3677854     cloudy
3677855     cloudy
3677857     cloudy
3677859    snowing
3677864     cloudy
3677866     cloudy
3677867      other
3677868     cloudy
3677869     cloudy
3677870    raining
3677872     cloudy
3677873     cloudy
3677895     cloudy
3677947     cloudy
3677948     cloudy
3677995     cloudy
3678001     cloudy
3678020     cloudy
3678040     cloudy
3678041     cloudy
3678043     cloudy
3678044     cloudy
3678046     cloudy
3678061     cloudy
Name: weather_1, dtype: object

In [64]:
df = pd.DataFrame(col.head(20))

In [65]:
lighting = pd.DataFrame(df[['lighting']])
lighting= lighting.drop_duplicates().dropna()
lighting.reset_index(drop=True, inplace=True)
display(lighting)

  lighting
0        A
1        B
2        C

In [66]:
lighting['lighting_id'] = range(len(lighting))

In [67]:
display(lighting)

  lighting  lighting_id
0        A            0
1        B            1
2        C            2

In [72]:
merge = df.merge(lighting, how='left', on=['lighting'])
#merge['lighting_id']= merge['lighting_id'].apply(lambda i: np.nan if i == 1 else int(i))
#merge['lighting_id']= merge['lighting_id'].astype('Int32')

In [73]:
display(merge.sort_values('case_id'))

,case_id,collision_date,collision_severity,collision_time,county_city_location,hit_and_run,jurisdiction,lighting,location_type,officer_id,...,process_date,ramp_intersection,road_condition_1,road_condition_2,road_surface,tow_away,type_of_collision,weather_1,weather_2,lighting_id
0,1,2002-01-18,5,15:30:00,1900,N,9575.0,A,NaN,16418,...,2002-06-14,NaN,H,NaN,A,1.0,C,A,NaN,0.0
1,2,2002-02-13,5,19:30:00,1500,M,9420.0,NaN,NaN,14360,...,2002-03-29,NaN,H,NaN,A,0.0,E,A,NaN,NaN
2,3,2002-02-11,5,15:30:00,1502,M,9420.0,A,H,16117,...,2003-07-15,NaN,H,NaN,A,0.0,E,A,NaN,0.0
3,4,2002-02-12,5,07:45:00,1500,M,9420.0,A,NaN,6078,...,2002-05-22,NaN,H,NaN,A,0.0,B,A,NaN,0.0
4,5,2002-02-14,2,11:35:00,1500,N,9420.0,A,NaN,13851,...,2003-07-28,NaN,H,NaN,A,1.0,F,A,NaN,0.0
5,6,2002-02-14,5,17:40:00,1500,N,9420.0,B,NaN,16153,...,2002-03-29,NaN,H,NaN,A,0.0,C,A,NaN,1.0
6,7,2002-02-14,5,17:55:00,1500,N,9420.0,C,NaN,14706,...,2002-03-29,NaN,H,NaN,A,0.0,B,A,NaN,2.0
7,8,2002-02-14,5,15:45:00,1502,N,9420.0,A,H,15833,...,2002-05-15,NaN,H,NaN,A,0.0,C,A,NaN,0.0
8,9,2002-02-13,4,16:12:00,1500,N,9420.0,A,NaN,15896,...,2002-03-28,NaN,H,NaN,A,1.0,D,B,NaN,0.0
9,11,2002-02-09,5,08:00:00,1502,N,9420.0,A,NaN,12547,...,2002-04-16,NaN,H,NaN,A,0.0,H,A,NaN,0.0
10,12,2002-02-19,5,06:30:00,1500,N,9420.0,A,NaN,10426,...,2002-03-28,NaN,H,NaN,A,0.0,D,A,NaN,0.0
11,13,2002-02-11,3,12:08:00,1500,N,9420.0,A,NaN,13295,...,2002-03-28,NaN,H,NaN,A,0.0,D,A,NaN,0.0
12,14,2002-02-15,3,12:10:00,1500,N,9420.0,A,NaN,12547,...,2002-03-28,NaN,H,NaN,A,1.0,D,B,NaN,0.0
13,15,2002-02-15,5,15:15:00,1502,N,9420.0,A,NaN,15833,...,2002-03-28,NaN,H,NaN,A,0.0,C,A,NaN,0.0
14,16,2002-02-15,4,16:50:00,1500,N,9420.0,A,H,13649,...,2002-05-28,NaN,H,NaN,A,1.0,E,A,NaN,0.0
15,17,2002-02-15,5,23:05:00,1500,N,9420.0,C,NaN,14836,...,2002-03-28,NaN,H,NaN,A,0.0,D,A,NaN,2.0
16,18,2002-02-13,5,22:20:00,1500,N,9420.0,C,NaN,15790,...,2002-03-28,NaN,H,NaN,A,1.0,E,A,NaN,2.0
17,19,2002-01-20,5,07:10:00,1500,M,9420.0,A,I,15514,...,2002-05-28,5.0,H,NaN,A,1.0,A,A,NaN,0.0
18,20,2002-02-11,4,16:43:00,1500,N,9420.0,A,H,15514,...,2002-05-28,NaN,H,NaN,A,1.0,E,A,NaN,0.0
19,21,2002-02-10,5,06:00:00,1502,M,9420.0,B,NaN,16117,...,2002-03-28,NaN,H,NaN,A,0.0,B,A,NaN,1.0

In [68]:
display(df)

,case_id,collision_date,collision_severity,collision_time,county_city_location,hit_and_run,jurisdiction,lighting,location_type,officer_id,...,primary_collision_factor,process_date,ramp_intersection,road_condition_1,road_condition_2,road_surface,tow_away,type_of_collision,weather_1,weather_2
0,1,2002-01-18,5,15:30:00,1900,N,9575.0,A,NaN,16418,...,A,2002-06-14,NaN,H,NaN,A,1.0,C,A,NaN
1,2,2002-02-13,5,19:30:00,1500,M,9420.0,NaN,NaN,14360,...,A,2002-03-29,NaN,H,NaN,A,0.0,E,A,NaN
2,3,2002-02-11,5,15:30:00,1502,M,9420.0,A,H,16117,...,A,2003-07-15,NaN,H,NaN,A,0.0,E,A,NaN
3,4,2002-02-12,5,07:45:00,1500,M,9420.0,A,NaN,6078,...,A,2002-05-22,NaN,H,NaN,A,0.0,B,A,NaN
4,5,2002-02-14,2,11:35:00,1500,N,9420.0,A,NaN,13851,...,A,2003-07-28,NaN,H,NaN,A,1.0,F,A,NaN
5,6,2002-02-14,5,17:40:00,1500,N,9420.0,B,NaN,16153,...,A,2002-03-29,NaN,H,NaN,A,0.0,C,A,NaN
6,7,2002-02-14,5,17:55:00,1500,N,9420.0,C,NaN,14706,...,A,2002-03-29,NaN,H,NaN,A,0.0,B,A,NaN
7,8,2002-02-14,5,15:45:00,1502,N,9420.0,A,H,15833,...,A,2002-05-15,NaN,H,NaN,A,0.0,C,A,NaN
8,9,2002-02-13,4,16:12:00,1500,N,9420.0,A,NaN,15896,...,A,2002-03-28,NaN,H,NaN,A,1.0,D,B,NaN
9,11,2002-02-09,5,08:00:00,1502,N,9420.0,A,NaN,12547,...,A,2002-04-16,NaN,H,NaN,A,0.0,H,A,NaN
10,12,2002-02-19,5,06:30:00,1500,N,9420.0,A,NaN,10426,...,A,2002-03-28,NaN,H,NaN,A,0.0,D,A,NaN
11,13,2002-02-11,3,12:08:00,1500,N,9420.0,A,NaN,13295,...,A,2002-03-28,NaN,H,NaN,A,0.0,D,A,NaN
12,14,2002-02-15,3,12:10:00,1500,N,9420.0,A,NaN,12547,...,A,2002-03-28,NaN,H,NaN,A,1.0,D,B,NaN
13,15,2002-02-15,5,15:15:00,1502,N,9420.0,A,NaN,15833,...,A,2002-03-28,NaN,H,NaN,A,0.0,C,A,NaN
14,16,2002-02-15,4,16:50:00,1500,N,9420.0,A,H,13649,...,A,2002-05-28,NaN,H,NaN,A,1.0,E,A,NaN
15,17,2002-02-15,5,23:05:00,1500,N,9420.0,C,NaN,14836,...,A,2002-03-28,NaN,H,NaN,A,0.0,D,A,NaN
16,18,2002-02-13,5,22:20:00,1500,N,9420.0,C,NaN,15790,...,A,2002-03-28,NaN,H,NaN,A,1.0,E,A,NaN
17,19,2002-01-20,5,07:10:00,1500,M,9420.0,A,I,15514,...,A,2002-05-28,5.0,H,NaN,A,1.0,A,A,NaN
18,20,2002-02-11,4,16:43:00,1500,N,9420.0,A,H,15514,...,A,2002-05-28,NaN,H,NaN,A,1.0,E,A,NaN
19,21,2002-02-10,5,06:00:00,1502,M,9420.0,B,NaN,16117,...,A,2002-03-28,NaN,H,NaN,A,0.0,B,A,NaN