In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [2]:
victims = pd.read_csv("../victims2018.csv").head(30)
print(victims)

C:\Users\Harold\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

    case_id  id  party_number  victim_age victim_degree_of_injury  \
0       3.0   3             1        21.0               no injury
1       5.0   4             1        44.0           severe injury
2       8.0   5             1        59.0               no injury
3       8.0   6             2        31.0               no injury
4       9.0   7             2        14.0       complaint of pain
5       9.0   8             2        39.0               no injury
6      13.0   9             1        47.0    other visible injury
7      14.0  10             2        26.0    other visible injury
8      14.0  11             3        40.0       complaint of pain
9      15.0  12             1         8.0               no injury
10     15.0  13             2        59.0               no injury
11     16.0  14             1        20.0       complaint of pain
12     17.0  15             1        38.0               no injury
13     17.0  16             2        17.0               no injury
14     20.0  17             1        21.0               no injury
15     20.0  18             1        19.0       complaint of pain
16     23.0  19             1        16.0               no injury
17     23.0  20             1        13.0       complaint of pain
18     23.0  21             1        15.0               no injury
19     23.0  22             1        15.0               no injury
20     26.0  23             1         9.0       complaint of pain
21     26.0  24             1         9.0               no injury
22     26.0  25             1         7.0               no injury
23     26.0  26             1        29.0               no injury
24     26.0  27             1         7.0               no injury
25     26.0  28             1         3.0               no injury
26     26.0  29             2        42.0           severe injury
27     26.0  30             2        42.0           severe injury
28     28.0  31             2        63.0       complaint of pain
29     32.0  32             2        48.0    other visible injury

    victim_ejected  victim_role victim_safety_equipment_1  \
0              0.0            2                         G
1              0.0            1                         G
2              0.0            2                         G
3              0.0            2                         G
4              0.0            2                         C
5              0.0            2                         G
6              1.0            4                         V
7              0.0            1                         G
8              0.0            1                         G
9              0.0            2                         G
10             0.0            2                         G
11             0.0            1                         L
12             0.0            2                         G
13             0.0            2                         C
14             0.0            2                         G
15             0.0            1                         G
16             0.0            2                         G
17             1.0            2                         N
18             0.0            2                         G
19             0.0            2                         G
20             0.0            2                         D
21             0.0            2                         E
22             0.0            2                         C
23             0.0            2                         D
24             0.0            2                         D
25             0.0            2                         D
26             0.0            1                         G
27             0.0            2                         G
28             3.0            3                       NaN
29             1.0            4                         V

   victim_safety_equipment_2  victim_seating_position victim_sex
0                        NaN                      3.0       male
1                        NaN                      1.0       male
2                        NaN                      3.0     female
3                        NaN                      3.0       male
4                        NaN                      6.0     female
5                        NaN                      3.0     female
6                        NaN                      1.0       male
7                        NaN                      1.0     female
8                        NaN                      1.0       male
9                        NaN                      3.0     female
10                       NaN                      3.0     female
11                       NaN                      1.0     female
12                       NaN                      3.0     female
13                       NaN                      2.0     female
14                       NaN                      3.0       male
15                       NaN                      1.0     female
16                       NaN                      3.0       male
17                       NaN                      0.0       male
18                       NaN                      6.0       male
19                       NaN                      4.0       male
20                       NaN                      4.0     female
21                       NaN                      3.0     female
22                       NaN                      9.0     female
23                       NaN                      4.0     female
24                       NaN                      0.0       male
25                       NaN                      0.0     female
26                       NaN                      1.0       male
27                       NaN                      3.0     female
28                       NaN                      9.0     female
29                       NaN                      1.0       male

In [3]:
new_df_victims = victims.query('case_id == "0006933"')
print(new_df_victims)

Empty DataFrame
Columns: [case_id, id, party_number, victim_age, victim_degree_of_injury, victim_ejected, victim_role, victim_safety_equipment_1, victim_safety_equipment_2, victim_seating_position, victim_sex]
Index: []

In [12]:

col =  pd.read_csv("../collisions2018.csv").head(30)

C:\Users\Harold\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Empty DataFrame
Columns: [case_id, collision_date, collision_severity, collision_time, county_city_location, hit_and_run, jurisdiction, lighting, location_type, officer_id, pcf_violation, pcf_violation_category, pcf_violation_subsection, population, primary_collision_factor, process_date, ramp_intersection, road_condition_1, road_condition_2, road_surface, tow_away, type_of_collision, weather_1, weather_2]
Index: []

[0 rows x 24 columns]

In [18]:
print(col.query('case_id == 27.0'))

Empty DataFrame
Columns: [case_id, collision_date, collision_severity, collision_time, county_city_location, hit_and_run, jurisdiction, lighting, location_type, officer_id, pcf_violation, pcf_violation_category, pcf_violation_subsection, population, primary_collision_factor, process_date, ramp_intersection, road_condition_1, road_condition_2, road_surface, tow_away, type_of_collision, weather_1, weather_2]
Index: []

[0 rows x 24 columns]

In [6]:

parties = pd.read_csv("../parties2018.csv")

C:\Users\Harold\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4,13,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [20]:
print(parties.head(60).case_id)

0      1.0
1      1.0
2      2.0
3      3.0
4      3.0
5      4.0
6      4.0
7      5.0
8      6.0
9      6.0
10     7.0
11     7.0
12     8.0
13     8.0
14     9.0
15     9.0
16    11.0
17    11.0
18    12.0
19    12.0
20    13.0
21    13.0
22    14.0
23    14.0
24    14.0
25    15.0
26    15.0
27    16.0
28    17.0
29    17.0
30    18.0
31    19.0
32    19.0
33    20.0
34    21.0
35    21.0
36    23.0
37    24.0
38    24.0
39    24.0
40    25.0
41    25.0
42    26.0
43    26.0
44    28.0
45    28.0
46    29.0
47    29.0
48    30.0
49    30.0
50    31.0
51    31.0
52    32.0
53    32.0
54    33.0
55    33.0
56    33.0
57    34.0
58    35.0
59    36.0
Name: case_id, dtype: float64

# Transforming strings of collision_severity into the integer code given in the project description

In [8]:
def collision_severity_translate(s):
    dic = {'fatal':1, 'severe injury':2, 'other injury':3,
           'pain':4, 'property damage only':5
    }
    if s in dic:
        return dic[s]
    else:
        return numpy.nan

In [9]:
col['collision_severity'] = col['collision_severity'].apply(lambda s : collision_severity_translate(s))

In [10]:
print(col)

    case_id collision_date  collision_severity collision_time  \
0       1.0     2002-01-18                   5       15:30:00
1       2.0     2002-02-13                   5       19:30:00
2       3.0     2002-02-11                   5       15:30:00
3       4.0     2002-02-12                   5       07:45:00
4       5.0     2002-02-14                   2       11:35:00
5       6.0     2002-02-14                   5       17:40:00
6       7.0     2002-02-14                   5       17:55:00
7       8.0     2002-02-14                   5       15:45:00
8       9.0     2002-02-13                   4       16:12:00
9      11.0     2002-02-09                   5       08:00:00
10     12.0     2002-02-19                   5       06:30:00
11     13.0     2002-02-11                   3       12:08:00
12     14.0     2002-02-15                   3       12:10:00
13     15.0     2002-02-15                   5       15:15:00
14     16.0     2002-02-15                   4       16:50:00
15     17.0     2002-02-15                   5       23:05:00
16     18.0     2002-02-13                   5       22:20:00
17     19.0     2002-01-20                   5       07:10:00
18     20.0     2002-02-11                   4       16:43:00
19     21.0     2002-02-10                   5       06:00:00

    county_city_location      hit_and_run  jurisdiction  \
0                   1900  not hit and run        9575.0
1                   1500      misdemeanor        9420.0
2                   1502      misdemeanor        9420.0
3                   1500      misdemeanor        9420.0
4                   1500  not hit and run        9420.0
5                   1500  not hit and run        9420.0
6                   1500  not hit and run        9420.0
7                   1502  not hit and run        9420.0
8                   1500  not hit and run        9420.0
9                   1502  not hit and run        9420.0
10                  1500  not hit and run        9420.0
11                  1500  not hit and run        9420.0
12                  1500  not hit and run        9420.0
13                  1502  not hit and run        9420.0
14                  1500  not hit and run        9420.0
15                  1500  not hit and run        9420.0
16                  1500  not hit and run        9420.0
17                  1500      misdemeanor        9420.0
18                  1500  not hit and run        9420.0
19                  1502      misdemeanor        9420.0

                   lighting location_type officer_id  ...  \
0                  daylight           NaN      16418  ...
1                       NaN           NaN      14360  ...
2                  daylight       highway      16117  ...
3                  daylight           NaN       6078  ...
4                  daylight           NaN      13851  ...
5              dusk or dawn           NaN      16153  ...
6   dark with street lights           NaN      14706  ...
7                  daylight       highway      15833  ...
8                  daylight           NaN      15896  ...
9                  daylight           NaN      12547  ...
10                 daylight           NaN      10426  ...
11                 daylight           NaN      13295  ...
12                 daylight           NaN      12547  ...
13                 daylight           NaN      15833  ...
14                 daylight       highway      13649  ...
15  dark with street lights           NaN      14836  ...
16  dark with street lights           NaN      15790  ...
17                 daylight  intersection      15514  ...
18                 daylight       highway      15514  ...
19             dusk or dawn           NaN      16117  ...

    primary_collision_factor process_date ramp_intersection  road_condition_1  \
0     vehicle code violation   2002-06-14               NaN            normal
1     vehicle code violation   2002-03-29               NaN            normal
2     vehicle code violation   2003-07-15               NaN            normal
3     vehicle code violation   2002-05-22               NaN            normal
4     vehicle code violation   2003-07-28               NaN            normal
5     vehicle code violation   2002-03-29               NaN            normal
6     vehicle code violation   2002-03-29               NaN            normal
7     vehicle code violation   2002-05-15               NaN            normal
8     vehicle code violation   2002-03-28               NaN            normal
9     vehicle code violation   2002-04-16               NaN            normal
10    vehicle code violation   2002-03-28               NaN            normal
11    vehicle code violation   2002-03-28               NaN            normal
12    vehicle code violation   2002-03-28               NaN            normal
13    vehicle code violation   2002-03-28               NaN            normal
14    vehicle code violation   2002-05-28               NaN            normal
15    vehicle code violation   2002-03-28               NaN            normal
16    vehicle code violation   2002-03-28               NaN            normal
17    vehicle code violation   2002-05-28               5.0            normal
18    vehicle code violation   2002-05-28               NaN            normal
19    vehicle code violation   2002-03-28               NaN            normal

   road_condition_2 road_surface  tow_away type_of_collision weather_1  \
0               NaN          dry       1.0          rear end     clear
1               NaN          dry       0.0        hit object     clear
2               NaN          dry       0.0        hit object     clear
3               NaN          dry       0.0         sideswipe     clear
4               NaN          dry       1.0        overturned     clear
5               NaN          dry       0.0          rear end     clear
6               NaN          dry       0.0         sideswipe     clear
7               NaN          dry       0.0          rear end     clear
8               NaN          dry       1.0         broadside    cloudy
9               NaN          dry       0.0             other     clear
10              NaN          dry       0.0         broadside     clear
11              NaN          dry       0.0         broadside     clear
12              NaN          dry       1.0         broadside    cloudy
13              NaN          dry       0.0          rear end     clear
14              NaN          dry       1.0        hit object     clear
15              NaN          dry       0.0         broadside     clear
16              NaN          dry       1.0        hit object     clear
17              NaN          dry       1.0           head-on     clear
18              NaN          dry       1.0        hit object     clear
19              NaN          dry       0.0         sideswipe     clear

   weather_2
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN

[20 rows x 24 columns]